<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easystartup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Investor.IdeaDetails">

        </activity>
        <activity android:name=".About"></activity>
        <activity android:name=".Investor.ideaView" />
        <activity android:name=".Startup.startupIdea" />
        <activity android:name=".resetPassword" />
        <activity
            android:name=".Investor.InvestorSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Investor.InvestorSignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait" />
        <activity android:name=".Startup.StartUPSignUp" />
        <activity
            android:name=".Startup.StartUptSignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>